
.features__data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features__list {
  gap: 1.5rem;
}

.features__item:before {
  content: url("../images/icons/bx_bxs-check-circle.svg");
}

.features__item {
  gap: 1rem;
}