@use "./mixins";

.feedback {
  // border: 1px solid blue;
  @include mixins.tablet {
    margin-top: 2rem
  }
}

.feedback__scroll {
  grid-column: 1/-1;
}

.feedback__wrapper {
  display: flex;
  overflow-x: auto; // overflowing x should scroll
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / old Edge */
  /*
    x:
    - Snapping happens on the horizontal axis
    - Vertical scrolling is ignored

    mandatory:
    - The browser must snap to the nearest snap point
    - It cannot stop in between items

    Second part in the child element is scroll-snap-align
   */
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;  // ensure the boxes stay in one long line
  gap: 5rem;

  @include mixins.tablet {
    gap: 3rem
  }
}

.feedback__rating-box {
  padding: 3rem;
  border: 2px solid var(--color-border-grey);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 0; // prevent the boxes from squishing to fit the screen
  flex-basis: 40rem;
  // flex-grow: 0;
  scroll-snap-align: end;

  &:hover {
    border-color: var(--color-orange);
  }

}

.feedback__person-description {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.feedback__person-img {
  width: 5rem;
  height: 5rem;
}

.feedback__person {
  display: flex;
  flex-direction: column;
  // gap: 0.5rem;
}

.feedback__rating {
  margin-left: auto;
}

.feedback__scroll-bar {
  margin: 2rem 0;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mixins.tablet {
    margin: 0rem
  }
}

.feedback__scroll-state {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.feedback__dot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-background-grey);
  border-radius: 50%;
  cursor: pointer;

  &:first-child {
    width: 4.5rem;
    background-color: var(--color-orange);
    border-radius: 1.5rem;
  }
}

.feedback__scroll-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.feedback__button {
  width: 6rem;
  height: 6rem;
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  border-radius: 50%;
  // background-image: url("../images/icons/left-arrow.svg");

  display: flex;
  align-items: center;
  justify-content: center;

  &-right {
    background-color: var(--color-orange);
  }
}