.footer {
  margin-top: -11.6rem;
  grid-template-columns: 1fr;
  background-color: #F8F8F8;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11.6rem;
}

.footer__left {
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__description {
  margin-top: -1rem;
}

.footer__socials-imgs {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
}

.footer__socials-img {
  border-radius: 50%;
  box-shadow: 0 1.3rem 1.8rem rgba($color: #111323, $alpha: 0.08);
}

.footer__right {
  display: flex;
  gap: 12.6rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: nowrap; // prevents long text from wrapping to the next line
}
