@use "./mixins";

.footer {
  // border: 1px solid red;
  margin-top: -12.5rem; // -11.6rem;
  grid-template-columns: 1fr;

  position: relative;
  // z-index: -1; // otherwise margin-top will cover Subscribe Now button in tablet version, but footer links and image scaling will not work -> increase button z-index and header z-index
}

.footer:before {
  content: "";
  position: absolute;
  /*
    The viewport is the visible area of the browser window including the space taken by the vertical scrollbar.
    - Page content width = viewport minus scrollbar
    -> Horizontal overflow appears
    -> 100vw is wider than the content area.

    ? Modern fix (CSS Values Level 4)
    width: 100dvw;
    dvw = dynamic viewport width

    Excludes scrollbar
    Adjusts to UI changes (mobile address bar)
    ? Hacky workaround (avoid if possible)
    width: calc(100vw - 17px);

    Scrollbar width varies ? unreliable.  
    ---------------------------------------------------
    on Chrome on Linux the scrollbar is a classic (non-overlay) scrollbar that takes up layout space, and vw explicitly includes that space.

    Let?s go step by step.

    What Chrome on Linux is doing
    1. On Linux, scrollbars usually consume layout width

    Unlike macOS (overlay scrollbars), Linux typically uses classic scrollbars:

    | content | scrollbar |


    That scrollbar is usually ~15?17px wide (theme-dependent).    ---------------------------------------------------

    My first solution:
      max-width: calc(100vw - 2 * var(--gutter) - 0px);
      width: 100vw;
   */
  width: calc(100vw - 2 * var(--gutter) - 0px);
  height: 100%;

  background-color: #F8F8F8;
  justify-self: center;
  z-index: -2;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: 6.6rem;
  padding-top: calc(6.6rem + 12.5rem);
  gap: 2rem;

  @include mixins.mobile {
    flex-direction: column;
    gap: 6rem;
  }
}

.footer__left {
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include mixins.mobile {
    gap: 2rem;
  }
}

.footer__description {
  margin-top: -1rem;
}

.footer__socials-imgs {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
}

.footer__socials-img {
  border-radius: 50%;
  box-shadow: 0 1.3rem 1.8rem rgba($color: #111323, $alpha: 0.08);
  transition: scale 0.3s;

  &:hover {
    scale: 1.5;
  }
}

.footer__right {
  display: flex;
  gap: 12.6rem;

  @include mixins.tablet {
    gap: 6rem;
  }

  @include mixins.mobile {
    gap: 3rem;
  }
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: nowrap; // prevents long text from wrapping to the next line

  @include mixins.mobile {
    white-space: wrap;
  }
}
