@use "./mixins";

.text-default {
  font-size: var(--font-size-16-default);
  font-weight: var(--font-weight-regular-default);
  color: var(--color-font-grey);
}

.text-default-wt-medium {
  font-size: var(--font-size-16-default);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-grey);
}

.heading1 {
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
  line-height: var(--line-hight-70);

  @include mixins.tablet {
    font-size: var(--font-size-35);
    line-height: var(--line-hight-50);
  }

  @include mixins.mobile {
    font-size: var(--font-size-30);
    line-height: var(--line-hight-50);
    text-align: center;
  }
}

.heading2 {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
  line-height: var(--line-hight-50);

  @include mixins.tablet {
    font-size: var(--font-size-25);
    line-height: var(--line-hight-50);
  }
}

.heading3 {
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);

  @include mixins.mobile {
    font-size: var(--font-size-18);
  }
}

.heading3-bold {
  @extend .heading3;
  font-weight: var(--font-weight-bold);
}

.heading4 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.heading5 {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.strong-medium {
  font-weight: var(--font-weight-medium);
}

.strong-bold {
  font-weight: var(--font-weight-bold);
}

.container {
  max-width: calc(var(--page-max-width) + 2 * var(--gutter));
    /* 
    padding-inline (logical property) (ONLY LEFT AND RIGHT)
    - Refers to the inline direction (start ? end of text)
    - Adapts automatically to:
      - direction: ltr (left-to-right)
      - direction: rtl (right-to-left)
      - different writing modes
    - Ideal for multilingual and responsive layouts

    padding-inline: 20px; is equivalent to
    - padding-left + padding-right in LTR
    - padding-right + padding-left in RTL

    Gutter: is an expression used for distances such as padding & margin
   */
  padding-inline: var(--gutter);

  margin: 0rem auto 5rem; // margin-top should be 5rem, but I find it too much -> moved to header
  display: grid;
}

.section {
  max-width: calc(100vw - 2 * var(--gutter));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 10rem; // in project 10.3rem

  @include mixins.tablet {
    margin-bottom: 4rem; // in project 10.3rem
  }

  @include mixins.mobile {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 4rem;
  }
}

.section__header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.vlist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.vitem:before {
  width: 2.4rem;
  height: 2.4rem;
}

.vitem {
  font-size: var(--font-size-14);
  display: flex;
  align-items: center;
  gap: 1rem;
}

a:hover {
  text-decoration: underline;
}
