@use "./mixins";

.global-network {
  grid-template-columns: 1fr;

  &__header {
    margin-bottom: 15.5rem;

    @include mixins.tablet {
    margin-bottom: 1rem;
  }
  }

  &__companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  @include mixins.tablet {
    gap: 1rem;
    justify-content: center;

    //grid-template-columns: repeat(auto-fit, 190px); // create as many 190px-wide columns as will fit
 }
  }
}
