.global-network {
  grid-template-columns: 1fr;
}

.global-network__header {
  margin-bottom: 15.5rem;
}

.global-network__companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}