.text-default {
  font-size: var(--font-size-16-default);
  font-weight: var(--font-weight-regular-default);
  color: var(--color-font-grey);
}

.text-default-wt-medium {
  font-size: var(--font-size-16-default);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-grey);
}

.heading1 {
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
  line-height: var(--line-hight-70);
}

.heading2 {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
  line-height: var(--line-hight-50);
}

.heading3 {
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.heading3-bold {
  @extend .heading3;
  font-weight: var(--font-weight-bold);
}

.heading4 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.heading5 {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.strong-medium {
  font-weight: var(--font-weight-medium);
}

.strong-bold {
  font-weight: var(--font-weight-bold);
}

.container {
  max-width: var(--page-max-width);
  margin: 5rem auto;
  display: grid;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 10rem; // in project 10.3rem
}

.vlist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.vitem:before {
  width: 2.4rem;
  height: 2.4rem;
}

.vitem {
  font-size: var(--font-size-14);
  display: flex;
  align-items: center;
  gap: 1rem;
}