.global-network {
  grid-template-columns: 1fr;
}

.global-network__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin-bottom: 15.5rem;
}

.global-network__companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}