@use "./mixins";

/*
  - header has 3 elements: .logo .nav .container_sign -> header flex
   - .logo is left aligned
   - .container_sign is right aligned
   - .

  - each of .logo .nav .container_sign is also flex
  - vertically center all elements -> align-items:center
 */

.logo, .nav__list, .container_sign {
  display: flex;
  align-items: center
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-background-body);
  margin-bottom: 8rem; // in project 10.3rem
  position: sticky;
  top: 0; // 2rem; // after 2rem starts padding (not good because when scrolling elements will be visible)
  z-index: 2;

  @include mixins.mobile-tablet {
    grid-template-columns: auto auto;
    margin-bottom: 2.5rem; // in project 10.3rem
    font-size: var(--font-size-14);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-font-black);
   }
}

.logo {
  gap: 1rem;

  @include mixins.mobile {
    margin-right: 1rem;
  } 
}

.logo__img {
  max-width: 3.5rem;
  max-height: 3.623rem;

  @include mixins.mobile-tablet {
  max-width: 2.5rem;
  max-height: 2.623rem;
  }
}

.nav {
  // flex: 1;  // takes all remaining space between logo and sign
  @include mixins.mobile-tablet {
    order: 1;
    grid-column: 1/-1;
    justify-content: center;
    // display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 4rem;
    // background-color: red;
    // width: 100hw;
    // height: auto;
    justify-content: center;

    display: flex;
    align-items: center;
  }
}

.nav__list {

  justify-content: center;  // center nav items in that space
  gap: 2rem;
  width: 100%;
  background-color: var(--color-background-body);

  @include mixins.mobile-tablet {
    justify-content: space-between;
    gap: 0rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-font-black);
   }
}

.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 1.6rem;

  @include mixins.mobile-tablet {
    font-size: var(--font-size-12);
  }

  @include mixins.mobile {
    padding: 0.8rem 0.8rem;
  }

  &-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: color 0.3s;
    position: relative;

    &:hover {
      text-decoration: none;
    }

    @include mixins.non-mobile {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: var(--color-orange);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
      
      &:hover {
        color: var(--color-orange);
        text-decoration: none;
        
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &-img {
    font-size: var(--font-size-20);
    display: flex;
    align-items: center;
    justify-items: center;
    width: 2.4rem;
    height: 2.4rem;
    display: none;

    @include mixins.mobile-tablet {
      display: inline-block;
    }
  }
}

.qmark {
  user-select: none;
}

.container_sign {
  gap: 3rem;

  @include mixins.mobile-tablet {
    // gap: 1.5rem;
    justify-self: right;
  }

  @include mixins.mobile-tablet {
    gap: 1.5rem;
    justify-self: right;
  }
}

.sign-in {
  color: var(--color-font-black);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  text-wrap: nowrap;
}

.sign-up {
  color: var(--color-orange-sign-up);
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--color-orange-sign-up);
  border-radius: 5rem;
  /*
    font size 16px the height of the text in design is 19px. But in my browser it is 30px.
    Therefore I have to reduce the padding in order for the heighe including padding be 45px as in design
   */
  // padding: 1.3rem 4.5rem; // 1.3rem 4.5rem;
  // padding: 0.75rem 4.5rem; // 1.3rem 4.5rem;
  //---center link content using flex
  width: 15rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: scale 0.3s;

  @include mixins.button-on-hover-click();

  @include mixins.tablet {
    width: 11.25rem;
    height: 3.375rem;
    border-radius:3.75rem;
  }

  @include mixins.mobile {
    width: 9rem;
    height: 3rem;
    border-radius: 3rem;
  }
}
