@mixin mobile {
  @media (max-width: 600px) {
    @content; // otherwise Error: Mixin doesn't accept a content block.
  }
}

@mixin tablet {
  @media (min-width: 600px) and (max-width: 900px) {
    @content; // otherwise Error: Mixin doesn't accept a content block.
  }
}

@mixin mobile-tablet {
  @media (max-width: 900px) {
    @content; // otherwise Error: Mixin doesn't accept a content block.
  }
}

@mixin non-mobile {
  @media (min-width: 900px) {
    @content; // otherwise Error: Mixin doesn't accept a content block.
  }
}

@mixin text-color-default($light-color: var(--color-font-grey), $dark-color: var(--color-font-white)) {
  color: $light-color;

  @media (prefers-color-scheme: dark) {
    color: $dark-color;
   }

}

@mixin button-on-hover-click($color: var(--color-font-white), $background-color: var(--color-orange)) {

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color;
      background-color: $background-color;
      // box-shadow: 2.5rem 1.7rem 5.4rem rgba($color: #F53838, $alpha: 01.35);
      scale: 1.1;
    }
  }
  
  &:active {
    scale: 1.1;
  }
}
