.plan {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10rem;
}

.plan__paragraph {
  text-align: center;
}

.plan__box {
  max-height: 76rem;
  border: 2px solid var(--color-border-grey);
  border-radius: 10px;
  padding: 8rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &:last-child {   // last child of parent
    border-color: var(--color-orange);
  }
}

.plan__list {
  gap: 1rem;
}

.plan__item::before {
  content: url("../images/icons/check.svg");
}

.plan__item {
  gap: 2rem;
}

.plan__price {
  margin-top: auto;
  // padding-top: 2rem;
}

.plan__month {
  font-weight: var(--font-weight-regular-default);
}

.plan__select {
  color: var(--color-orange);
  font-weight: var(--font-weight-bold);
  border: 2px solid var(--color-orange-sign-up);
  border-radius: 50px;
  /*
    font size 16px the height of the text in design is 19px. But in my browser it is 30px.
    Therefore I have to reduce the padding in order for the heighe including padding be 45px as in design
   */
  // padding: 1.3rem 4.5rem; // 1.3rem 4.5rem;
  // padding: 0.75rem 4.5rem; // 1.3rem 4.5rem;
  //---center link content using flex
  width: 17.8rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-last {
    color: var(--color-font-white);
    background-color: var(--color-orange);
    box-shadow: 2.5rem 1.7rem 5.4rem rgba($color: #F53838, $alpha: 0.35);
  }
}
