@use "./mixins";

.statistics {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  // border: 2px solid red;
  border-radius: 1rem;
  box-shadow: 3.5rem 5.2rem 11.4rem rgba($color: #0D1025, $alpha: 0.06);

  @include mixins.tablet {
    gap: 2rem;
 }

  @include mixins.mobile {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    border: 2px solid var(--color-border-light-grey);
 }
}

.statistics__column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.6rem;
  height: 12.55rem;

  @include mixins.mobile {
    height: 8rem;
    gap: 5rem;
  }
}

.statistics_img {
  width: 5.5rem;
  height: 5.5rem;
}

.statistics__data {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;

  @include mixins.mobile {
    width: 7.5rem;
  }
}

.statistics__locations {
  padding-left: 5rem;
  padding-right: 5rem;
  border-left: 2px solid var(--color-border-light-grey);
  border-right: 2px solid var(--color-border-light-grey);

  @include mixins.mobile {
    padding: 5rem 0;
    border-top: 2px solid var(--color-border-light-grey);
    border-bottom: 2px solid var(--color-border-light-grey);
    border-left: none;
    border-right: none;
}
}
