:root {
  /*
    62.5% is 62.5% of the browser?s default font size.
    What that default is:
    - Browsers default to 16px
    - 62.5% of 16px = 10px
   */
  --font-size-root-1: 62.5%; // relative to browser's default font size 16px

  --font-family-rubik: "Rubik", sans-serif;

  --font-size-10: 1rem;
  --font-size-14: 1.4rem;
  --font-size-16-default: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-25: 2.5rem;
  --font-size-30: 3rem;
  --font-size-35: 3.5rem;
  --font-size-50: 5rem;

  --font-weight-regular-default: 400;
  --font-weight-medium: 500;      // h1 h2
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;        // strong
  
  --line-hight-30: 3rem;          // default
  --line-hight-45: 5.5rem;        // h2
  --line-hight-50: 5rem;          // h2
  --line-hight-70: 7rem;          // h1

  --color-background-body: white;
  --color-background-grey: #DDE0E4;
  --color-orange: #F53838;
  --color-orange-sign-up: #F53855;
  --color-border-light-grey: #EEEFF2;
  --color-border-grey: #DDDDDD;
  --color-font-white: white;
  --color-font-black: #0B132A;
  --color-font-grey: #4F5665;
  --color-shadow-black: #0D1025;

  --page-max-width: 1140px;       // 1440 - 150 -150
  --gutter: 2rem;
}
