:root {
  /*
    62.5% is 62.5% of the browser?s default font size.
    What that default is:
    - Browsers default to 16px
    - 62.5% of 16px = 10px
   */
  --font-size-root-1: 62.5%;
  --font-family-rubik: "Rubik", sans-serif;
  --font-size-10: 1rem;
  --font-size-14: 1.4rem;
  --font-size-16-default: 1.6rem;
  --font-size-18: 1.8rem;
  --font-size-20: 2rem;
  --font-size-25: 2.5rem;
  --font-size-30: 3rem;
  --font-size-35: 3.5rem;
  --font-size-50: 5rem;
  --font-weight-regular-default: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --line-hight-30: 3rem;
  --line-hight-45: 5.5rem;
  --line-hight-50: 5rem;
  --line-hight-70: 7rem;
  --color-background-body: white;
  --color-orange: #F53838;
  --color-orange-sign-up: #F53855;
  --color-border-light-grey: #EEEFF2;
  --color-border-grey: #DDDDDD;
  --color-font-white: white;
  --color-font-black: #0B132A;
  --color-font-grey: #4F5665;
  --color-shadow-black: #0D1025;
  --page-max-width: 1140px;
}

/* 
  The browser uses default values e.g. margin=8px p.padding...
  html selector in video is defined in _global.scss. I'd leave it here
 */
html {
  font-size: var(--font-size-root-1);
  /* 
    Clicking on a section jumps to the section and
    renders it to top=0. But since the header seciton
    is sticky, it will not be seen -> position the
    section to 11rem
   */
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* from parent element */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit; /* inherit from parent (default is blue)*/
  display: inline-block; /* default inline (no width/height, does not start on a new line, only horizontal padding/margin) */
  text-decoration: none;
}

button {
  background-color: transparent; /* no visible background (see whatever is behind the element), same as rgba(0, 0, 0, 0)*/
  border: none;
  cursor: pointer; /* index finger */
}

ul,
ol {
  list-style: none;
}

body {
  font-size: var(--font-size-16-default);
  font-family: var(--font-family-rubik);
  line-height: var(--line-hight-30);
  background-color: var(--color-background-body);
  color: var(--color-font-grey);
  border: none;
}

.text-default {
  font-size: var(--font-size-16-default);
  font-weight: var(--font-weight-regular-default);
  color: var(--color-font-grey);
}

.text-default-wt-medium {
  font-size: var(--font-size-16-default);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-grey);
}

.heading1 {
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
  line-height: var(--line-hight-70);
}

.heading2 {
  font-size: var(--font-size-35);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
  line-height: var(--line-hight-50);
}

.heading3, .heading3-bold {
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.heading3-bold {
  font-weight: var(--font-weight-bold);
}

.heading4 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.heading5 {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-medium);
  color: var(--color-font-black);
}

.strong-medium {
  font-weight: var(--font-weight-medium);
}

.strong-bold {
  font-weight: var(--font-weight-bold);
}

.container {
  max-width: var(--page-max-width);
  margin: 5rem auto;
  display: grid;
}

.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-bottom: 10rem;
}

.section__header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.vlist {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.vitem:before {
  width: 2.4rem;
  height: 2.4rem;
}

.vitem {
  font-size: var(--font-size-14);
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*
  - header has 3 elements: .logo .nav .container_sign -> header flex
   - .logo is left aligned
   - .container_sign is right aligned
   - .

  - each of .logo .nav .container_sign is also flex
  - vertically center all elements -> align-items:center
 */
.header, .logo, .nav__list, .container_sign {
  display: flex;
  align-items: center;
}

.header {
  margin-bottom: 10rem;
}

.logo {
  gap: 1rem;
}

.logo__img {
  max-width: 3.5rem;
  max-height: 3.623rem;
}

.nav {
  flex: 1;
}

.nav__list {
  justify-content: center;
  gap: 2rem;
}

.container_sign {
  gap: 3rem;
}

.sign-in {
  color: var(--color-font-black);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}

.sign-up {
  color: var(--color-orange-sign-up);
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--color-orange-sign-up);
  border-radius: 50px;
  /*
    font size 16px the height of the text in design is 19px. But in my browser it is 30px.
    Therefore I have to reduce the padding in order for the heighe including padding be 45px as in design
   */
  width: 15rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.get-started {
  gap: 0;
}

.get-started__data {
  display: flex;
  flex-direction: column;
}

.get-started__header {
  margin-bottom: 2rem;
}

/*
  started__button is a flex item and not an inline element anymore
 */
.get-started__button {
  color: var(--color-font-white);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-orange);
  border-radius: 10px;
  width: 25rem;
  height: 6rem;
  margin-top: 5rem;
  box-shadow: 1.9rem 2.5rem 5.4rem rgba(245, 56, 56, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.get-started__pic-content {
  scale: 110%;
}

.statistics {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-radius: 1rem;
  box-shadow: 3.5rem 5.2rem 11.4rem rgba(13, 16, 37, 0.06);
}

.statistics__column {
  display: flex;
  align-items: center;
  gap: 3.6rem;
  height: 12.55rem;
}

.statistics_img {
  width: 5.5rem;
  height: 5.5rem;
}

.statistics__data {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
}

.statistics__locations {
  padding-left: 11.3rem;
  padding-right: 11.3rem;
  border-left: 2px solid var(--color-border-light-grey);
  border-right: 2px solid var(--color-border-light-grey);
}

.features__data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features__list {
  gap: 1.5rem;
}

.features__item:before {
  content: url("../images/icons/bx_bxs-check-circle.svg");
}

.features__item {
  gap: 1rem;
}

.plan {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10rem;
}

.plan__paragraph {
  text-align: center;
}

.plan__box {
  max-height: 76rem;
  border: 2px solid var(--color-border-grey);
  border-radius: 10px;
  padding: 8rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.plan__box:last-child {
  border-color: var(--color-orange);
}

.plan__list {
  gap: 1rem;
}

.plan__item::before {
  content: url("../images/icons/check.svg");
}

.plan__item {
  gap: 2rem;
}

.plan__price {
  margin-top: auto;
}

.plan__month {
  font-weight: var(--font-weight-regular-default);
}

.plan__select {
  color: var(--color-orange);
  font-weight: var(--font-weight-bold);
  border: 2px solid var(--color-orange-sign-up);
  border-radius: 50px;
  /*
    font size 16px the height of the text in design is 19px. But in my browser it is 30px.
    Therefore I have to reduce the padding in order for the heighe including padding be 45px as in design
   */
  width: 17.8rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plan__select-last {
  color: var(--color-font-white);
  background-color: var(--color-orange);
  box-shadow: 2.5rem 1.7rem 5.4rem rgba(245, 56, 56, 0.35);
}

.global-network {
  grid-template-columns: 1fr;
}

.global-network__header {
  margin-bottom: 15.5rem;
}

.global-network__companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__scroll {
  grid-column: 1/-1;
}

.feedback__wrapper {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 5rem;
}

.feedback__rating-box {
  padding: 3rem;
  border: 2px solid var(--color-border-grey);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-shrink: 0;
  flex-basis: 40rem;
  scroll-snap-align: end;
}

.feedback__person-description {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.feedback__person {
  display: flex;
  flex-direction: column;
}

.feedback__rating {
  margin-left: auto;
}

.subscribe {
  z-index: 1;
}

.subscribe__now {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  background-color: var(--color-orange);
  color: white;
  border-radius: 1rem;
  font-weight: var(--font-weight-bold);
  width: 25rem;
  height: 6rem;
  box-shadow: 2rem 2.6rem 5.4rem rgba(245, 56, 56, 0.35);
}

.footer {
  margin-top: -11.6rem;
  grid-template-columns: 1fr;
  background-color: #F8F8F8;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11.6rem;
}

.footer__left {
  max-width: 34rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__description {
  margin-top: -1rem;
}

.footer__socials-imgs {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
}

.footer__socials-img {
  border-radius: 50%;
  box-shadow: 0 1.3rem 1.8rem rgba(17, 19, 35, 0.08);
}

.footer__right {
  display: flex;
  gap: 12.6rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */